<div class="row featured-article-section">
    <div class="col-xs-12 text-center">
        <h1 class="headline-text">Discover Schoolap</h1>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 article" data-ng-repeat="article in articles">
                <div class="card">
                    <div class="card-inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="images/featured-articles/article1.jpg" alt="Article1">
                            </a>
                            <div class="caption">
                                <div>
                                    <a href="#">
                                        <h4 data-ng-bind="article.title.rendered"></h4>
                                    </a>
                                </div>
                                <div data-ng-bind-html="article.excerpt.rendered">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>