<div class="row inline-schools-section">
    <div class="col-xs-12">
        <h5 data-ng-bind="list.label" class="list-label text-center row"></h5>
        <div class="row">
            <div class="col-xs-6 col-sm-3" data-ng-repeat="school in list.schoolData">
                <div class="card">
                    <div class="card-inner">
                        <div class="thumbnail">
                            <img data-ng-src="{{school['_embedded']['wp:featuredmedia'][0]['source_url']}}" alt="School1">
                            <div class="caption">
                                <a data-ng-href="{{'school/' + school.slug}}">
                                    <h6 data-ng-bind="school.title.rendered" class="school-name"></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="btn btn-link" href="#">See All</a>
            </div>
        </div>
    </div>
</div>