<nav class="navbar navbar-fixed-top">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
                <img src="images/brand-logo.png" alt="Schoolap" class="brand-logo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for schools, articles, events ..." id="navbar-search">
                </div>
                <button type="button" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="browse">Find Schools</a>
                </li>
                <li>
                    <a href="compare">Compare</a>
                </li>
                <li>
                    <a href="discover">Discover</a>
                </li>
                <li>
                    <div class="col-xs-12">
                        <form class="navbar-form navbar-right">
                            <a class="btn btn-success" data-ng-click="auth.type='login'; auth.label='Login'" data-target="#auth-modal" data-toggle="modal">Login</a>
                            <a class="btn btn-default" data-ng-click="auth.type='register'; auth.label='Register'" data-target="#auth-modal" data-toggle="modal">Signup</a>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<auth-modal></auth-modal>