<section class="container-fluid banner-section" id="about-page-banner">
</section>
<section class="container gutter-section">
    <h3 class="headline-text subheading">About Schoolap</h3>
    <p>
        GreatSchools is the leading national nonprofit empowering parents to unlock educational opportunities for their child.
        GreatSchools’ trusted ratings and school information help parents find the right school for their family and improve schools in their communities. The thousands of articles, tips and interactive tools help parents support their child’s learning and wellbeing every day.
        Families, community leaders and policy-makers turn to GreatSchools for the school information they need to guide children to great futures.
    </p>
</section>
<section class="container gutter-section">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img class="img img-responsive" src="images/about-page/school_quality.jpg" />
            <div class="row">
                <div class="col-xs-12">
                    <h3>School Quality</h3>
                    <p>
                        We provide easy-to-understand information on K-12 schools, including ratings, information on school resources and student outcomes, and reviews.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img img-responsive" src="images/about-page/community_action.jpg" />
            <div class="row">
                <div class="col-xs-12">
                    <h3>Community action</h3>
                    <p>
                        When it comes to community action, we offer on-the-ground organizers and advocacy groups, tools, and information to push for better schools for all kids.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img img-responsive" src="images/about-page/parenting_resources.jpg" />
            <div class="row">
                <div class="col-xs-12">
                    <h3>Parenting resources</h3>
                    <p>
                        Our parenting resources bring together stories, videos, tips, interactive tools and worksheets to help parents as their child learns and grows.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>