<section class="container-fluid banner-section" id="compare-page-banner">
</section>
<section class="container-fluid gutter-section">
    <div class="row">
        <div class="container">
            <h3 class="headline-text subheading">Compare Schools</h3>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="form row">
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">Select State</label>
                    <input type="text" placeholder="School State" class="form-control" list="statelist" />
                    <datalist id="statelist">
                        <option>Uttar Pradesh</option>
                        <option>Delhi</option>
                    </datalist>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">Select City</label>
                    <input type="text" placeholder="City" class="form-control" list="citylist"/>
                    <datalist id="citylist">
                    </datalist>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">Select Area</label>
                    <input type="text" placeholder="Area" class="form-control" list="arealist"/>
                    <datalist id="arealist">
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="form row">
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">School #1</label>
                    <select class="form-control">
                        <option>School A</option>
                        <option>School B</option>
                        <option>School C</option>
                        <option>School D</option>
                        <option>School E</option>
                        <option>School F</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">School #2</label>
                    <select class="form-control">
                        <option>School A</option>
                        <option>School B</option>
                        <option>School C</option>
                        <option>School D</option>
                        <option>School E</option>
                        <option>School F</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label class="control-label">School #3</label>
                    <select class="form-control">
                        <option>School A</option>
                        <option>School B</option>
                        <option>School C</option>
                        <option>School D</option>
                        <option>School E</option>
                        <option>School F</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="form-group text-center">
                <button type="button" class="btn btn-success btn-lg">Compare</button>
            </div>
        </div>
    </div>
</section>