<section class="container-fluid banner-section" id="home-page-banner">
</section>
<section class="container-fluid headline-section gutter-section" id="home-headline-section">
    <div class="row">
        <div class="container text-center">
            <h1 class="headline-text">
                We help millions of parents get a great education for their child.
            </h1>
            <button class="btn btn-success btn-lg" type="button">Learn More</button>
        </div>
    </div>
</section>
<section class="container-fluid" id="home-main-section">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <inline-schools-list data-type="featured" data-label="Featured Schools"></inline-schools-list>
                    <inline-schools-list data-type="nearby" data-label="School Near You"></inline-schools-list>
                    <inline-schools-list data-type="visited" data-label="Most Visited Schools"></inline-schools-list>
                    <inline-schools-list data-type="added" data-label="Recently Added Schools"></inline-schools-list>
<!--
                    <polls-section></polls-section>
-->
                </div>
<!--
                <div class="col-sm-12 col-md-8">
                    <featured-articles></featured-articles>
                    <featured-programs></featured-programs>
                </div>
-->
<!--
                <div class="col-sm-12 col-md-4">
                    <events-area></events-area>
                </div>
-->
            </div>
        </div>
    </div>
</section>
<section class="container-fluid headline-section gutter-section" id="home-compare-section">
    <div class="row">
        <div class="container text-center">
            <h1 class="headline-text">
                Having trouble finding the best school
            </h1>
            <h3 class="headline-text subheading">
                Compare Schools Now!
            </h3>
            <button class="btn btn-success btn-lg" type="button">Compare Schools</button>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <featured-articles></featured-articles>
                </div>
            </div>
        </div>
    </div>
</section>
