body {
    font-family: 'Roboto', sans-serif;
    margin-top: 66px;
}

.navbar {
    margin-bottom: 0px;
    background: #fff;
    padding-top: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.navbar-collapse {
    margin-bottom: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

@media screen and (min-width:768px) {
    #navbar-search {
        width: 400px
    }
}

.navbar-toggle {
    background: #666;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: inherit;
    text-decoration: underline;
}

.brand-logo {
    height: 40px;
}

.banner-section {
    min-height: 600px;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

#home-page-banner {
    background-image: url('./../images/page-banner/home-banner.jpg');
}

#compare-page-banner {
    background-image: url('./../images/page-banner/compare-banner.jpg');
}

#discover-page-banner {
    background-image: url('./../images/page-banner/discover-banner.jpg');
}

#about-page-banner {
    background-image: url('./../images/page-banner/about-banner.jpg');
}

#browse-page-banner {
    background-image: url('./../images/page-banner/about-banner.jpg');
}

.gutter-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.headline-section {
    border-bottom: 1px solid #ccc;
}

#home-headline-section {
    background: #fcfcfc;
}

#home-main-section {
    background: #FAF9F5;
}

.headline-text {
    margin-bottom: 25px;
    font-size: 48px;
    color: #666;
}

.headline-text.subheading {
    font-size: 36px;
}

.card {
    float: left;
    margin-bottom: 15px;
}

.card .thumbnail {
    border-radius: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.inline-schools-section {
    margin-top: 10px;
    margin-bottom: 60px;
}

.inline-schools-section .card .thumbnail img {
    height: 120px;
}

.card .thumbnail .caption {
    padding: 0px 10px;
}

.inline-schools-section .list-label {
    margin-bottom: 30px;
    font-size: 26px;
}

.inline-schools-section .school-name {
    color: #777;
    font-size: 14px;
}

.featured-article-section .article {
    margin-top: 20px;
    margin-bottom: 20px;
}

#home-compare-section {
    background: #333;
}

#home-compare-section .headline-text {
    color: #fff;
}

.footer {
    background: #333;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-link-label {
    color: #bbb;
}

.footer-links a {
    color: #fafafa;
    font-size: 16px;
    line-height: 28px;
    transition: color linear 2s;
}

.footer-links a:hover {
    color: #00b0ff;
}

.views-container {
    min-height: 600px;
}

.school-header-box {
    padding: 20px 0px 30px;
    background: #17476D;
    color: #fff;
    font-family: Arial;
    margin-bottom: 20px;
}

.school-header-box .meta-box {
    display: inline-block;
    text-transform: capitalize;
    padding: 5px 15px 5px 0px;
    margin-right: 15px;
    border-right: 1px solid #666;
}

.angular-google-map-container {
    height: 400px;
}
